<div class="main wrapper clearfix">

    <article>
        <header>
            <h2>Form example using JSR-303</h2>
        </header>
        <section>                    
			<form id="person" method="POST">
										
				<label for="name">First Name:</label>  
				#springBind( "person.firstName" )		
				<input type="text" id="firstName" name="${status.expression}" value="$!{status.value}" placeholder="Enter first name" autofocus="autofocus" />
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

				<label for="name">Last Name:</label>  
				#springBind( "person.lastName" )		
				<input type="text" id="lastName" name="${status.expression}" value="$!{status.value}" placeholder="Enter last name"/>
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			
				  
				<label for="email">Email Address:</label>
				#springBind( "person.email" )									  
				<input type="email" id="email" name="${status.expression}" value="$!{status.value}" placeholder="me@somewhere.com" />  
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

				<label for="name">Age:</label>  
				#springBind( "person.age" )		
				<input type="text" id="age" name="${status.expression}" value="$!{status.value}" placeholder="Enter age"/>
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

				<label for="name">Phone:</label>  
				#springBind( "person.phone" )		
				<input type="text" id="phone" name="${status.expression}" value="$!{status.value}" placeholder="Enter Phone Number"/>
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end	
				
				<hr/>
																									
				<label for="name">Street:</label>  
				#springBind( "person.address.street" )		
				<input type="text" id="street" name="${status.expression}" value="$!{status.value}" placeholder="Enter Street"/>
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

				<label for="name">City:</label>  
				#springBind( "person.address.city" )		
				<input type="text" id="city" name="${status.expression}" value="$!{status.value}" placeholder="Enter City"/>
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

				<label for="name">State Acronym:</label>  
				#springBind( "person.address.state" )		
				<input type="text" id="state" name="${status.expression}" value="$!{status.value}" placeholder="Enter State"/>
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

				<label for="name">Zip Code:</label>  
				#springBind( "person.address.zipCode" )		
				<input type="text" id="zipCode" name="${status.expression}" value="$!{status.value}" placeholder="Enter Zip Code"/>
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			
				  
				<label for="name">Country Acronym:</label>  
				#springBind( "person.address.country" )		
				<input type="text" id="country" name="${status.expression}" value="$!{status.value}" placeholder="Enter Country"/>
				#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			
				  
				<hr/>

            	<input type="submit" value="Validate Data"/>
        	</form>                    
        </section>
        <footer>
            <h3></h3>
            <p></p>
        </footer>
    </article>

    <aside>
        <h3>Background</h3>
        <p>This is a sample application that demonstrates how to perform data validation using JSR-303, specifically using JSR-303 Annotations.  Future example will provide the same functionality but using a declarative approach for data validation rather than Java Annotations.  This sample is developed using Spring MVC, Velocity rendering engine, HTML5 boilerplate templates, and other Open Source assets.  Lastly, many of the RegEx patterns used for data validation are referenced from OWASP regex repository.</p>
    </aside>

</div> <!-- #main -->