<article>
    <header>
        <h2>Registration:</h2>
    </header>
    <section>                    
		<form method="POST">
									
			<label for="name">First Name:</label>  
			<input type="text" id="firstname" name="firstname" value="$!{person.firstname}" placeholder="Enter first name" autofocus="autofocus" />
			#springBind( "person.firstname" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

			<label for="name">Last Name:</label>  
			<input type="text" id="lastname" name="lastname" value="$!{person.lastname}" placeholder="Enter last name"/>
			#springBind( "person.lastname" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			
			  				  
			<label for="email">Email Address:</label>
			<input type="text" id="email" name="email" value="$!{person.email}" placeholder="me@somewhere.com" />  
			#springBind( "person.email" )									  
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

			<label for="name">Age:</label>  
			<input type="text" id="age" name="age" value="$!{person.age}" placeholder="Enter age"/>
			#springBind( "person.age" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

			<label for="name">Phone:</label>  
			<input type="text" id="phone" name="phone" value="$!{person.phone}" placeholder="Enter Phone Number (XXX-XXX-XXXX)"/>
			#springBind( "person.phone" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end	
			
			<hr/>
																								
			<label for="name">Street:</label>  
			<input type="text" id="street" name="address.street" value="$!{person.address.street}" placeholder="Enter Street"/>
			#springBind( "person.address.street" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

			<label for="name">City:</label>  
			<input type="text" id="city" name="address.city" value="$!{person.address.city}" placeholder="Enter City"/>
			#springBind( "person.address.city" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

			<label for="name">State Acronym:</label>  
			<input type="text" id="state" name="address.state" value="$!{person.address.state}" placeholder="Enter State Acronym"/>
			#springBind( "person.address.state" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			

			<label for="name">Zip Code:</label>  
			<input type="text" id="zipcode" name="address.zipcode" value="$!{person.address.zipcode}" placeholder="Enter Zip Code"/>
			#springBind( "person.address.zipcode" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			
			  
			<label for="name">Country Acronym:</label>  
			<input type="text" id="country" name="address.country" value="$!{person.address.country}" placeholder="Enter Country: US or USA"/>
			#springBind( "person.address.country" )		
			#foreach($error in $status.errorMessages) <div class="errorBlock">$error</div> #end			
			  
			<hr/>

        	<input type="submit" value="Validate Data"/>
    	</form>                    
    </section>
    <footer>
        <h3></h3>
        <p></p>
    </footer>
</article>