<!DOCTYPE html>

	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Spring-JSR303 Starter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Spring-JSR303 Starter</h1>
                <nav>
                    <ul>
                        <li><a href="https://github.com/dvpatel/spring-jsr303">Code@GitHub</a></li>
                        <li><a href="http://digital-gems.blogspot.com/2013/07/protecting-your-application-from-mallory.html">Document</a></li>
                        <li><a href="http://web-gems.appspot.com/eDipesh">WebGems</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
        	<div class="main wrapper clearfix">
        		<div>
        			$!screen_content
        		</div>
        		
        		<aside>
        			<h3>Background</h3>
        			<p>This is a sample application that demonstrates how to perform data validation using JSR-303, specifically using JSR-303 Annotations.  It is developed using Spring MVC, Velocity, HTML5 boilerplate templates, and other Open Source assets.  Many of the RegEx patterns used for data validation are leveraged from OWASP RegEx Validation Repository.  An example based on declarative data validation will be provided in the future.</p>
    			</aside>
    		</div>
        </div>

        <div class="footer-container">
        	<!--
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
            -->
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="js/main.js"></script>
        <script>
            var _gaq=[['_setAccount','UA-15213166-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
